@model RegisterViewModel

@{
    ViewBag.Title = "User Registration";
}

<h1>User Registration</h1>
<main id="tt-pageContent">
   
    <div class="container">
        <div class="tt-wrapper-inner">
            <h1 class="tt-title-border">Create New User</h1>
            <div asp-validation-summary="All" class="text-danger" style="color:red;"></div>
            <form class="form-default form-create-topic" method="post">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <div class="tt-value-wrapper">
                        <input asp-for="Name"
                               class="form-control"
                               id="inputTopicTitle"
                               placeholder="Name" />
                        <span class="tt-value-input">99</span>
                    </div>
                    <span asp-validation-for="Name" class="text-danger" style="color:red;">

                    </span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email ID</label>
                    <div class="tt-value-wrapper">
                        <input asp-for="Email"
                               class="form-control"
                               id="inputTopicTitle"
                               placeholder="Email" />
                        <span class="tt-value-input">99</span>
                    </div>
                    <span asp-validation-for="Email" class="text-danger" style="color:red;">

                    </span>
                    
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <div class="tt-value-wrapper">
                        <input asp-for="Password"
                               class="form-control"
                               id="inputTopicTitle"
                               placeholder="Password" />
                        <span class="tt-value-input">99</span>
                    </div>
                    <span asp-validation-for="Password" class="text-danger" style="color:red;">

                    </span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <div class="tt-value-wrapper">
                        <input asp-for="ConfirmPassword"
                               class="form-control"
                               id="inputTopicTitle"
                               placeholder="Confirm Password" />
                        <span class="tt-value-input">99</span>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger" style="color:red;">

                    </span>
                </div>

                <div class="form-group">
                    <label asp-for="Departments"></label>
                    <div class="tt-value-wrapper">
                        <select class="form-control" asp-for="Departments" asp-items="Html.GetEnumSelectList<Department>()">
                            <option value="">Please Select</option>
                        </select>

                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-auto ml-md-auto">
                        <input type="submit" value="Create User" class="btn btn-secondary btn-width-lg" />
                    </div>
                </div>

            </form>
        </div>
      
    </div>
</main>
@*<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Departments"></label>
                <div>
                    <select asp-for="Departments" asp-items="Html.GetEnumSelectList<Department>()">
                        <option value="">Please Select</option>
                    </select>
                    <span asp-validation-for="Departments" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </di*@v>
</div>