@model IEnumerable<Bug>
@{
    ViewBag.Title = "Bugs";
}

@foreach (var bug in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@bug.Title</h5>
            <p class="card-text">@bug.Description</p>
            <a asp-controller="Bug" asp-action="Details" asp-route-id="@bug.BugId" class="btn btn-primary">View</a>
        </div>
    </div>
   
}